.Badge a{
    text-decoration: none;
    width: 50px;
    margin: 3px;
    font-size: 15px;
}

.Badge.dark a[class='active']{
    color: white;
}

.Badge.dark a{
    color: white;
}

.Badge.light a{
    color: rgb(47, 5, 5);
}

.Badge.light a[class='active']{
    color: rgb(47, 5, 5);
}