.Header {
    width: 100%;
    height: 100px;
    background-color: rgb(102, 215, 163);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Header a{
    width: 20%;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.Header a[class='active']{
    color: rgba(84, 49, 77, 0);
}

.Search{
    width: 40%;
}

.SearchInput {
    width: 400px;
    height: 30px;
    font-size: 20px;
    border: 1px solid rgb(102, 215, 163);
}

.ButtonSearch{
    width: 100px;
    height: 35px;
    color: white;
    font-size: 20px;
    background-color: rgb(81, 162, 125);
    border: 1px solid rgb(102, 215, 163);
}

.User{
    width: 30%;
    font-size: 30px;
}

:root {
    --var-bgcolor: #60d595;
    --var-fontcolor: #000;
}

:root [dark] {
    --var-bgcolor: #333;
    --var-fontcolor: #eee;
}

.Header {
    background-color: var(--var-bgcolor);
    color: var(--var-fontcolor);
}