.MovieListCard{
    width: 33%;
    height: 575px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin: 15px;
    padding: 7px;
    text-align: center;
}

.MovieListCard.dark {
    background-color: rgb(42, 42, 42);
}

.MovieListCard.light {
    background-color: white;
    border: 1px solid rgb(102, 215, 163);
}

img{
    width: 250px;
}

.TitleMovie{
    color: rgb(81, 162, 125);
    font-size: 30px;
}

.MovieListCard a{
    text-decoration: none;
    color: rgb(102, 215, 163);
    font-size: 20px;
}

.MovieListCard a[class='active']{
    color: rgba(84, 49, 77, 0);
}